*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #65a30d;
    padding: 16px
}

.search {
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: #f7fee7;
    padding: 0 64px 0 32px;
}
.search > input {
    height: 32px;
    border: none;
    border-radius: 16px;
    background-color: #d9f99d;
    width: 80%;
}
.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24px, auto));
    align-items: center;
    justify-content: end;
    gap: 24px;
}
.bell {
    height: 24px;
    width: 24px;
    background-color: gray;
}
.profile-button {
    height: 42px;
    width: 42px;
    background-color: darkgray;
    border: none;
    border-radius: 21px;
    background-color: #4d7c0f;
}
.name {
    font-weight: 900;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
}

.nav {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    background-color: #65a30d;
    padding: 20px;
}

.nav > ul {
    height:fit-content;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 16px;
    font-size: 20px;
    font-weight: 900;
}

li {
    list-style: none;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 16px 64px 16px 32px;
    background-color: #f7fee7;
    box-shadow: 0 4px 4px -2px gray;
}
.header-left{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    align-items: center;
}
.pfp {
    width: 64px;
    height: 64px;
    background-color: gray;
    border-radius: 32px;
}
.header-right {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, auto));
    justify-content: end;
    gap: 24px
}
.header-right > button {
    width: 96px;
    height: 38px;
    border: none;
    border-radius: 19px;
    background-color: #4d7c0f;
    font-size: 14px;
    font-weight: 900;
    color: #f7fee7;
}
.wrapper {
    background-color: #d9f99d;
    display: grid;
}
.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 16px;
}
.your-projects {
    grid-area: 1 / 1 / -1 / 2;
}
.trending {
    padding: 24px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 32px;
    background-color: #f7fee7;
    border: none;
    border-radius: 8px;
    width: fit-content;
    box-shadow: 5px 5px 11px -5px rgba(0,0,0,0.75);
}
.trending-person {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
    align-items: center;
    width: 272px;
}
.tp-pfp {
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 24px;
    background-color: gray;
}
.username {
    font-weight: 900;
}
.tp-text > p {
    color: #6e6e6e;
}
.trend-wrap {
    display: grid;
    gap: 16px;
    
}